# SPDX-License-Identifier: LGPL-2.1-or-later

[Unit]
Description=mkosi-initrd breakpoint before udev
DefaultDependencies=no
Conflicts=shutdown.target emergency.target
Wants=systemd-journald.socket
After=systemd-journald.socket
Before=systemd-udevd.service
ConditionPathExists=/etc/initrd-release
ConditionKernelCommandLine=rd.break=pre-udev

[Service]
Environment=HOME=/root
Environment=PS1="pre-udev:$PWD# "
WorkingDirectory=/root
Type=oneshot
ExecStartPre=-/bin/sh -c "/usr/bin/plymouth quit 2>/dev/null || :"
ExecStart=-/usr/sbin/sulogin --force
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
TasksMax=infinity
IgnoreSIGPIPE=no
KillMode=process
KillSignal=SIGHUP

[Install]
WantedBy=initrd.target
