*.cache-pre-dev
*.cache-pre-inst
.cache
.mypy_cache/
.project
.pydevproject
.pytest_cache/
/.mkosi-*
/SHA256SUMS
/SHA256SUMS.gpg
/build
/dist
/mkosi.build
/mkosi.egg-info
/mkosi.extra
/mkosi.nspawn
/mkosi.rootpw
/mkosi.default
/mkosi.secure-boot.key
/mkosi.secure-boot.crt
__pycache__
