.venv
*.cache-pre-dev
*.cache-pre-inst
.cache
.mypy_cache/
.project
.pydevproject
.pytest_cache/
/.mkosi-*
/SHA256SUMS
/SHA256SUMS.gpg
/build
# Generated zipapp
/builddir/
/dist
/mkosi.build
/mkosi.egg-info
/mkosi.cache
/mkosi.output
/mkosi.nspawn
/mkosi.rootpw
mkosi.local
mkosi.local.conf
mkosi/resources/man/*.[17]
mkosi.tools
mkosi.tools.manifest
/mkosi.key
/mkosi.crt
__pycache__
blog/output
blog/pelicanconf.py
blog/publishconf.py
