name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  unit-test:
    runs-on: ubuntu-22.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
    - uses: actions/checkout@v2

    - name: Install
      run: |
        python3 -m pip install pytest mypy types-cryptography isort pyflakes
        npm install -g pyright@1.1.258

    - name: Check that imports are sorted
      run: python3 -m isort --verbose --check-only mkosi/

    - name: Run pyflakes
      run: python3 -m pyflakes mkosi/ tests/

    - name: Check that tabs are not used in code
      run: sh -c '! git grep -P "\\t" "*.py"'

    - name: Type Checking (mypy)
      run: python3 -m mypy mkosi/ tests/

    - name: Type Checking (pyright)
      run: pyright .

    - name: Unit Tests
      run: python3 -m pytest -sv tests

    - name: Test execution from current working directory
      run: python3 -m mkosi -h

    - name: Test execution from current working directory (sudo call)
      run: sudo python3 -m mkosi -h

    - name: Test user installation
      run: |
        python3 -m pip install --user .
        $HOME/.local/bin/mkosi -h
        python3 -m pip uninstall --yes mkosi

    - name: Test user installation (sudo call)
      run: |
        python3 -m pip install --user .
        sudo $HOME/.local/bin/mkosi -h
        python3 -m pip uninstall --yes mkosi

    - name: Test editable user installation
      run: |
        python3 -m pip install --user --no-use-pep517 --editable .
        $HOME/.local/bin/mkosi -h
        python3 -m pip uninstall --yes mkosi

    - name: Test editable user installation (sudo call)
      run: |
        python3 -m pip install --user --no-use-pep517 --editable .
        sudo $HOME/.local/bin/mkosi -h
        python3 -m pip uninstall --yes mkosi

    - name: Test venv installation
      run: |
        python3 -m venv testvenv
        testvenv/bin/python3 -m pip install .
        testvenv/bin/mkosi -h

    - name: Test venv installation (sudo call)
      run: |
        sudo testvenv/bin/mkosi -h

    - name: Test system installation
      run: |
        sudo python3 -m pip install .
        sudo mkosi -h
        sudo python3 -m pip uninstall --yes mkosi

    - name: Test zipapp creation
      run: |
        ./tools/generate-zipapp.sh
        ./builddir/mkosi -h

    - name: Test shell scripts
      run: |
        sudo apt-get update && sudo apt-get install --no-install-recommends shellcheck
        bash -c 'shopt -s globstar; shellcheck **/*.sh'

  integration-test:
    runs-on: ubuntu-22.04
    needs: unit-test
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.distro }}-${{ matrix.format }}-${{ github.ref }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        distro:
          - arch
          - centos_epel
          - debian
          - ubuntu
          - fedora
          - rocky_epel
          - alma_epel
          # Disabled until https://github.com/gentoo/baselayout/pull/2 is merged.
          # - gentoo
        format:
          - directory
          - tar
          - cpio
          - gpt_ext4
          - plain_squashfs

    steps:
    - uses: actions/checkout@v2
    - uses: ./

    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install --no-install-recommends python3-pexpect python3-pytest

    - name: Install Gentoo dependencies (portage)
      if: ${{ matrix.distro == 'gentoo' }}
      run: |
        sudo tee /usr/lib/sysusers.d/acct-user-portage.conf > /dev/null <<- EOF
        # /usr/lib/sysusers.d/portage.conf
        u portage - "Portage system user" /var/lib/portage/home -
        EOF
        sudo systemd-sysusers --no-pager

        sudo install --owner=portage --group=portage --mode=0755 --directory /var/db/repos
        sudo install --owner=portage --group=portage --mode=0755 --directory /etc/portage/repos.conf
        sudo install --owner=portage --group=portage --mode=0755 --directory /var/cache/binpkgs
        sudo tee /etc/portage/repos.conf/eselect-repo.conf > /dev/null <<- EOF
        [gentoo]
        location = /var/db/repos/gentoo
        sync-type = git
        sync-uri = https://anongit.gentoo.org/git/repo/gentoo.git
        EOF

        git clone https://anongit.gentoo.org/git/proj/portage.git --depth=1
        cd portage
        tee setup.cfg > /dev/null <<- EOF
        [build_ext]
        portage-ext-modules=true
        EOF

        sudo python setup.py install

        sudo ln -s --relative /var/db/repos/gentoo/profiles/default/linux/amd64/17.1/no-multilib/systemd /etc/portage/make.profile

    # Do a manual install so we have the latest changes from the pull request available.
    - name: Install
      run: sudo python3 -m pip install .

    - name: Build/Boot ${{ matrix.distro }}/${{ matrix.format }}
      run: |
        mkdir -p mkosi.default.d

        tee mkosi.default.d/mkosi.default <<- EOF
        [Distribution]
        Distribution=${{ matrix.distro }}

        [Output]
        Format=${{ matrix.format }}
        EOF

        mkdir -p mkosi.skeleton/etc/portage

        tee mkosi.skeleton/etc/portage/binrepos.conf <<- EOF
        [binhost]
        sync-uri = https://raw.githubusercontent.com/257/binpkgs/main
        EOF

        sudo MKOSI_TEST_DEFAULT_VERB=boot python3 -m pytest --exitfirst -m integration -sv tests

    - name: Build ${{ matrix.distro }}/${{ matrix.format }} UsrOnly
      run: |
        tee mkosi.default <<- EOF
        [Output]
        UsrOnly=True
        EOF

        sudo mkosi --force build

    - name: Build/Boot ${{ matrix.distro }}/${{ matrix.format }} UEFI UKI
      run: |
        tee mkosi.default <<- EOF
        [Output]
        BootProtocols=uefi

        [Host]
        QemuBoot=uefi
        EOF

        sudo MKOSI_TEST_DEFAULT_VERB=qemu python3 -m pytest --exitfirst -m integration -sv tests

    - name: Build/Boot ${{ matrix.distro }}/${{ matrix.format }} UEFI
      run: |
        tee mkosi.default <<- EOF
        [Output]
        BootProtocols=uefi
        WithUnifiedKernelImages=no

        [Host]
        QemuBoot=uefi
        EOF

        sudo MKOSI_TEST_DEFAULT_VERB=qemu python3 -m pytest --exitfirst -m integration -sv tests

    - name: Build/Boot ${{ matrix.distro }}/${{ matrix.format }} BIOS
      run: |
        tee mkosi.default <<- EOF
        [Output]
        BootProtocols=bios
        WithUnifiedKernelImages=no

        [Host]
        QemuBoot=bios
        EOF

        sudo MKOSI_TEST_DEFAULT_VERB=qemu python3 -m pytest --exitfirst -m integration -sv tests

    - name: Build/Boot ${{ matrix.distro }}/${{ matrix.format}} QEMU Linux Boot
      run: |
        tee mkosi.default <<- EOF
        [Output]
        BootProtocols=linux
        WithUnifiedKernelImages=no

        [Host]
        QemuBoot=linux
        EOF

        sudo MKOSI_TEST_DEFAULT_VERB=qemu python3 -m pytest --exitfirst -m integration -sv tests
