name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.distro }}-${{ matrix.format }}-${{ github.ref }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        distro:
          - arch
          - centos_epel
          - debian
          - ubuntu
          - fedora
          - rocky_epel
          - alma_epel
          - gentoo
        format:
          - directory
          - tar
          - cpio
          - gpt_btrfs
          - plain_squashfs
        exclude:
          # CentOS 8/Rocky/Alma Linux does not support btrfs.
          - distro: centos
            format: gpt_btrfs
          - distro: centos_epel
            format: gpt_btrfs
          - distro: rocky
            format: gpt_btrfs
          - distro: rocky_epel
            format: gpt_btrfs
          - distro: alma
            format: gpt_btrfs
          - distro: alma_epel
            format: gpt_btrfs

    steps:
    - uses: actions/checkout@v2
    - uses: ./

    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install --no-install-recommends python3-pexpect

    - name: Install Gentoo dependencies (portage)
      if: ${{ matrix.distro == 'gentoo' }}
      run: |
        sudo tee /usr/lib/sysusers.d/acct-user-portage.conf > /dev/null <<- EOF
        # /usr/lib/sysusers.d/portage.conf
        u portage - "Portage system user" /var/lib/portage/home -
        EOF
        sudo systemd-sysusers --no-pager

        sudo install --owner=portage --group=portage --mode=0755 --directory /var/db/repos
        sudo install --owner=portage --group=portage --mode=0755 --directory /etc/portage/repos.conf
        sudo install --owner=portage --group=portage --mode=0755 --directory /var/cache/binpkgs
        sudo tee /etc/portage/repos.conf/eselect-repo.conf > /dev/null <<- EOF
        [gentoo]
        location = /var/db/repos/gentoo
        sync-type = git
        sync-uri = https://anongit.gentoo.org/git/repo/gentoo.git
        EOF

        git clone https://anongit.gentoo.org/git/proj/portage.git --depth=1
        cd portage
        tee setup.cfg > /dev/null <<- EOF
        [build_ext]
        portage-ext-modules=true
        EOF

        sudo python setup.py install

        sudo ln -s --relative /var/db/repos/gentoo/profiles/default/linux/amd64/17.1/no-multilib/systemd /etc/portage/make.profile

    # Do a manual install so we have the latest changes from the pull request available.
    - name: Install
      run: sudo python3 -m pip install .

    - name: Write shared mkosi config
      run: |
        mkdir -p mkosi.default.d

        tee mkosi.default.d/mkosi.default <<- EOF
        [Distribution]
        Distribution=${{ matrix.distro }}

        [Output]
        Format=${{ matrix.format }}

        [Validation]
        Password=

        [Host]
        Ssh=yes
        NetworkVeth=yes
        EOF

        mkdir -p mkosi.skeleton/etc/portage

        tee mkosi.skeleton/etc/portage/binrepos.conf <<- EOF
        [binhost]
        sync-uri = https://raw.githubusercontent.com/257/binpkgs/main
        EOF

    # Ubuntu's systemd-nspawn doesn't support faccessat2() syscall, which is
    # required, since current Arch's glibc implements faccessat() via faccessat2().
    - name: Update systemd-nspawn
      if: ${{ matrix.distro == 'arch' }}
      run: |
        echo "deb-src http://archive.ubuntu.com/ubuntu/ $(lsb_release -cs) main restricted universe multiverse" | sudo tee -a /etc/apt/sources.list
        sudo apt update
        sudo apt build-dep systemd
        git clone https://github.com/systemd/systemd --depth=1 && cd systemd
        meson build
        ninja -C build
        sudo ln -svf $PWD/build/systemd-nspawn `which systemd-nspawn`
        systemd-nspawn --version

    - name: Build ${{ matrix.distro }}/${{ matrix.format }}
      run: |
        sudo python3 -m mkosi build

    - name: Boot ${{ matrix.distro }}/${{ matrix.format }}
      if: matrix.format != 'tar' &&
          matrix.format != 'cpio'
      run: sudo ./tests/pexpect/boot.py python3 -m mkosi boot

    - name: Build ${{ matrix.distro }}/${{ matrix.format }} UEFI UKI
      if: matrix.format != 'directory' &&
          matrix.format != 'plain_squashfs' &&
          matrix.format != 'tar' &&
          matrix.format != 'cpio'
      run: |
        tee mkosi.default <<- EOF
        [Output]
        Bootable=yes
        BootProtocols=uefi

        [Host]
        QemuHeadless=yes
        EOF

        sudo python3 -m mkosi --force build

    - name: Boot ${{ matrix.distro }}/${{ matrix.format }} UEFI UKI
      if: matrix.format != 'directory' &&
          matrix.format != 'plain_squashfs' &&
          matrix.format != 'gpt_squashfs' &&
          matrix.format != 'tar' &&
          matrix.format != 'cpio' &&
          !(matrix.distro == 'ubuntu' && matrix.format == 'gpt_squashfs')
      run: sudo ./tests/pexpect/boot.py python3 -m mkosi qemu

    - name: Build ${{ matrix.distro }}/${{ matrix.format }} UEFI
      if: matrix.format != 'directory' &&
          matrix.format != 'plain_squashfs' &&
          matrix.format != 'tar' &&
          matrix.format != 'cpio' && (
          matrix.distro == 'arch' ||
          matrix.distro == 'centos' ||
          matrix.distro == 'rocky' ||
          matrix.distro == 'alma' ||
          matrix.distro == 'fedora' ||
          matrix.distro == 'gentoo')
      run: |
        tee mkosi.default <<- EOF
        [Output]
        Bootable=yes
        BootProtocols=uefi
        WithUnifiedKernelImages=no
        # Boot with systemd.volatile=overlay so squashfs images can write to the filesystem
        KernelCommandLine=systemd.volatile=overlay

        [Host]
        QemuHeadless=yes
        EOF

        sudo python3 -m mkosi --force build

    - name: Boot ${{ matrix.distro }}/${{ matrix.format }} UEFI
      if: matrix.format != 'directory' &&
          matrix.format != 'plain_squashfs' &&
          matrix.format != 'cpio' &&
          matrix.format != 'tar' && (
          matrix.distro == 'arch' ||
          matrix.distro == 'centos' ||
          matrix.distro == 'rocky' ||
          matrix.distro == 'alma' ||
          matrix.distro == 'fedora' ||
          matrix.distro == 'gentoo')
      run: sudo ./tests/pexpect/boot.py python3 -m mkosi qemu

    - name: Build ${{ matrix.distro }}/${{ matrix.format }} BIOS
      if: matrix.format != 'directory' &&
          matrix.format != 'gpt_squashfs' &&
          matrix.format != 'plain_squashfs' &&
          matrix.format != 'tar' &&
          matrix.format != 'cpio'
      run: |
        tee mkosi.default <<- EOF
        [Output]
        Bootable=yes
        BootProtocols=bios
        WithUnifiedKernelImages=no

        [Host]
        QemuHeadless=yes
        EOF

        sudo python3 -m mkosi --force build

    - name: Boot ${{ matrix.distro }}/${{ matrix.format }} BIOS
      if: matrix.format != 'directory' &&
          matrix.format != 'gpt_squashfs' &&
          matrix.format != 'plain_squashfs' &&
          matrix.format != 'cpio' &&
          matrix.format != 'tar'
      run: sudo ./tests/pexpect/boot.py python3 -m mkosi qemu
